@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/landing-bg.png");
  background-size: cover;
}

.myNav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.bgc {
  background-clip: text;
  -webkit-background-clip: text;
}
